@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "RacingSansOne";
  src: url("/fonts/RacingSansOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard Fallback";
  src: local("Arial"); /* 시스템 폰트 */
  size-adjust: 102%;
  ascent-override: 90%;
  descent-override: 22%;
  line-gap-override: 0%;
}

@theme {
  --font-sans: Pretendard, "Pretendard Fallback", system-ui, sans-serif;
  --font-racing: RacingSansOne, sans-serif;

  --animate-marquee: marquee 100s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-50%);
    }
  }
}
